
body {
    background: url(images/rpsBackground.jpg);
    background-size: cover;
}



.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
}

.chosen {
    transform: scale(1.1);
    border-color: blue;
    border-style: solid;
    box-shadow: 0 0 1rem #ffc600;
}

[data-key="rock"] {
    content: url(/images/rock.png);
    max-width: 20%;
    max-height: 20%;
    position: fixed;
    left: 20px;
}

[data-key="paper"] {
    content: url(images/paper.png);
    max-width:20%;
    max-height:20%;
    position: fixed;
}

[data-key="scissors"] {
    content: url(images/scissors-cartoon.jpg);
    max-width:20%;
    max-height:20%;
    position: fixed;
    right: 20px;
}

.scores {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: 30px;
    position: relative;
}

[data-key="player"] {
    content: "Player: 0";
    color: red;
    font-family: 'MS Sans Serif';
    font-weight: bold;
    border-style: solid;
}

[data-key="opponent"] {
    content: "Opponent: 0";
    color: blue;
    border-style: solid;
}
